# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/

# Virtual environment
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Local settings
.env
.env.*

# SQLite databases
*.db
